<h2>Installation</h2>
<pre>gem install aws-sdk-core</pre>
<% categories.each do |label, entries| %>

<h2><%= label %></h2>
<table border="0" cellspacing="0" cellpadding="0" id="aws-table">
  <tbody>
    <tr>
      <th valign="top"> <strong>Changed</strong> </th>
      <th valign="top"> <strong>Description</strong> </th>
    </tr>
<% entries.each do |entry| %>
    <tr>
      <td valign="top"><%= entry.first.strip %></td>
      <td valign="top"><%= entry.last.strip %></td>
    </tr>
<% end %>
  </tbody>
</table>
<% end %>

<h2>Supported API Versions</h2>
<p> This release of the SDK supports the following API versions:</p>
<table border="0" cellpadding="0" cellspacing="0" id="aws-table">
  <tbody>
    <tr>
      <th valign="top"><strong>Service</strong></th>
      <th valign="top"><strong>API Version</strong></th>
    </tr>
<% services.each do |name, version| %>
    <tr>
      <td><%= name %></td>
      <td><%= version %></td>
    </tr>
<% end %>
  </tbody>
</table>
