-# Copyright 2011 Amazon.com, Inc. or its affiliates. All Rights Reserved.
-#
-# Licensed under the Apache License, Version 2.0 (the "License"). You
-# may not use this file except in compliance with the License. A copy of
-# the License is located at
-#
-#     http://aws.amazon.com/apache2.0/
-#
-# or in the "license" file accompanying this file. This file is
-# distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF
-# ANY KIND, either express or implied. See the License for the specific
-# language governing permissions and limitations under the License.

= wow_form_for @recipe do |form|
  = form.text_field :title   
  = form.text_area :directions
  .row
    %label.row_label Ingredients
    %ul#ingredient_list
      - @recipe.ingredients.each do |ingredient|
        %li
          = text_field_tag "recipe[ingredients][]", ingredient
          %a.remove_ingredient(href="#") Remove
    %a.add_ingredient(href="#") Add
  = form.submit
