-# Copyright 2011-2012 Amazon.com, Inc. or its affiliates. All Rights Reserved.
-#
-# Licensed under the Apache License, Version 2.0 (the "License"). You
-# may not use this file except in compliance with the License. A copy of
-# the License is located at
-#
-#     http://aws.amazon.com/apache2.0/
-#
-# or in the "license" file accompanying this file. This file is
-# distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF
-# ANY KIND, either express or implied. See the License for the specific
-# language governing permissions and limitations under the License.

#links
  %ul
    %li= link_to "All Recipes", recipes_path
    - if @recipe.author == @remote_user
      %li= link_to "Edit Recipe", edit_recipe_path(@recipe)
      %li= link_to "Delete Recipe", recipe_path(@recipe), :method => 'delete'

= title @recipe.title
- unless @recipe.author.blank?
  %h2 by #{@recipe.author}

- unless_blank @recipe.ingredients do |ingredients|
  %h3 Ingredients
  %ul
    - ingredients.each do |ingredient|
      %li= ingredient

- unless_blank @recipe.directions do |directions|
  %h3 Directions
  %p= directions
