<!DOCTYPE html>
<html>
  <head>
    <%= erb(:headers) %>
  </head>
  <body>
    <div class="nav_wrap">
      <iframe id="nav" src="<%= @nav_url %>"></iframe>
      <div id="resizer"></div>
    </div>

    <div id="main" tabindex="-1">
      <div id="header">
        <%= erb(:breadcrumb) %>
        <%= erb(:search) %>
        <div class="clear"></div>
      </div>

      <div id="content">
        <!-- REGION_DISCLAIMER_DO_NOT_REMOVE -->
        <p id="version-3-warning">You are viewing documentation for version 3 of the AWS SDK for Ruby. <a href="http://docs.aws.amazon.com/sdkforruby/api/frames.html">Version 2 documentation can be found here</a>.</p>
        <%= yieldall %>
      </div>

      <%= erb(:footer) %>
    </div>
    <script src="/SdkStatic/sdk-priv.js" async="true"></script>
  </body>
</html>
