<!DOCTYPE html>
<html>
  <head>
    <%= erb(:headers) %>
    <!-- Docs Metrics + Cookie Consent Script -->
    <meta name="guide-name" content="API Reference">
    <meta name="service-name" content="AWS SDK For Ruby V2">
    <script type="text/javascript" src="/assets/js/awsdocs-boot.js"></script>
    <!-- Gitter chat -->
    <script>((window.gitter = {}).chat = {}).options = { room: 'aws/aws-sdk-ruby' };</script>
    <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
  </head>
  <body>
    <div class="nav_wrap">
      <iframe id="nav" src="<%= @nav_url %>"></iframe>
      <div id="resizer"></div>
    </div>

    <div id="main" tabindex="-1">
      <div id="header">
        <%= erb(:breadcrumb) %>
        <%= erb(:search) %>
        <div class="clear"></div>
      </div>

      <div id="content">
        <!-- REGION_DISCLAIMER_DO_NOT_REMOVE -->
        <p id="version-2-warning">You are viewing documentation for version 2 of the AWS SDK for Ruby. <a href="http://docs.aws.amazon.com/sdk-for-ruby/v3/api/index.html">Version 3 documentation can be found here</a>.</p>
        <%= yieldall %>
      </div>

      <%= erb(:footer) %>
      <div id="awsdocs-legal-zone-copyright"></div>
    </div>
  </body>
</html>
